
body {

  /*background: url(../../assets/crocus.jpg) no-repeat top center fixed;*/

  background-color: #0B280C;
}

.c1 {
  background: url(../../assets/crocus1.jpg) no-repeat center center fixed;
}

.c2 {
  background: url(../../assets/crocus.jpg) no-repeat top center fixed;
  width: 100vw;
  padding-bottom: 3em;;
}

#full-row {
  width: 100vw;
}
.row {
  width: 84vw;
  margin: 0 auto;
}
.container-fluid {
  padding: 0;
}

.card-deck {
  background-color: #0B280C;
  /*background-color: ;*/
  padding-bottom: 3em;;
}
.footer {
  background-color: #ecf0f1;
  bottom: 0;
  /*position: fixed;*/
  opacity: .9;
  border-radius: 20px 20px 0px 0px;

}



#foot {
  font-size: 18px;
  padding: 10px;
  color: #7f8c8d;
}

.rowHeight {
  height: 500px;
}
