


.chunk-1 {

  background: url(../assets/children-lined-up.jpg) no-repeat bottom center fixed;
  margin: 0 auto;
  padding-top: 10em;
  /*color: white;*/
  height: auto;
}

.chunk-2 {
  padding-top: 2em;
  background-color: lightgrey;
}
.chunk-3 {
  width: 80vw;
  margin: 0 auto;

}

.chunk-5 {
  height: 400px;
}


.chunk-6{
  padding-top: 3em;
  background: url(../assets/student-writing-on-pape.jpg) no-repeat center center fixed;
  height: 200px;
  color: white;
}

.chunk-7 {
  padding-bottom: 1em;
}
.title-padding {
  padding-top: 2em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid green;
}

.footer {
  background-color: #ecf0f1;
  bottom: 0;
  padding-top: 1em;
  /*position: fixed;*/
  opacity: .9;
  border-radius: 20px 20px 0px 0px;

}

#foot {
  font-size: 18px;
  /*padding: 10px;*/
  color: #7f8c8d;
}
.caption {
  padding-top: 2em;
  text-align: center;
}
#small_buttons {
  padding-bottom: 3em;
  padding-top: 1em;
}
.title-caption {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.button-size {
  height: 14em;
}
.more-button {
  color: white;
  border: 2px grey solid;
  height: 3em;
  text-align: center;
  margin-top: 2em;;
}

img {
  width: 100%;
  height: auto;
}
.cfont {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}
.rowHeight {
  height: 500px;
}
