
body {
   /*no-repeat top center fixed*/
  /*background: url(../assets/university.jpg), url(../assets/study-group.jpg) ;
  background-repeat: no-repeat, no-repeat;
  background-position: top,bottom;*/
  /*background-s: cover;*/
  background-color: lightgrey;
}

.chunk-1 {
  /*background-color: blue;*/
  background: url(../assets/study-group.jpg) no-repeat top center fixed;
  margin: 0 auto;
}

.chunk-2 {
  background: url(../assets/student-writing-on-pape.jpg) no-repeat top center fixed;
  margin: 0 auto;
}
.row {
  width: 84vw;
  margin: 0 auto;
}
.container-fluid {
  padding: 0;
}
.bg {
  /*opacity: .8;*/
  color: #7f8c8d;
}

.cfont {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.footer {
  background-color: #ecf0f1;
  bottom: 0;
  /*position: fixed;*/
  opacity: .9;
  border-radius: 20px 20px 0px 0px;

}

.card {
  animation-name: fadeInDown;
  animation-duration: 3s;
}
.border {
  border: 3px #ecf0f1 solid;
  padding: 10px 15px;
  margin: 20px 10px;
  border-radius: 5px;
}

#foot {
  font-size: 18px;
  padding: 10px;
  color: #7f8c8d;
}

.rowHeight {
  height: 500px;
}



@keyframes fadeInDown {

  0% {
    opacity: 0;
    transform:translateY(-12%);
  }
  25% {
      opacity: 50%;
  }
  50% {
      transform:translateY(0%);
  }
  100% {
    opacity: 100%;
  }

}
