body {
  background-color: lightpink;
}

.container-fluid {
  padding: 0;
}
.rowHeight {
  height: 500px;
}

.chunk-1 {
    background-color: white;
    padding-bottom: 2em;
}
.chunk-2 {
  height: 14em;
  text-align: center;
  padding-top: 2em;
  color: white;
  background-color: black;
  margin-top: 2em;
  margin-bottom: 2em;
}

.chunk-3 {
  padding-bottom: 2em;
  border-bottom: thin solid grey;
}

.chunk-4 {
  padding-bottom: 2em;
  border-bottom: thick solid green;
}

.cfont {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.footer {
  /*background-color: black;*/
  bottom: 0;

  /*position: fixed;*/
  opacity: .9;
  /*border-radius: 20px 20px 0px 0px;*/

}

.trapizium {
    border-top: 100px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    /*height: 0;*/
    width: 100px;
}
img {
  width: inherit;
  height: inherit;
}
#foot {
  position: absolute;
  top: -4em;
  left: 42%;
  /*font-size: 18px;
  padding: 10px;
  color: #7f8c8d;*/
}
